<div class="container-fluid p-0 m-0">
  <div class="card">
    <div class="card-header bg-dark">
      <h4 class="m-b-0 text-white title d-flex">
        <span><em class="mdi mdi-account-box"></em>&nbsp;Tareas</span>
      </h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="formTask" >
            <div class="form-group row">
              <label for="inputEmail3" class="col-sm-3 col-form-label">Titulo</label>
              <div class="col-sm-9">
                <input type="text" formControlName="title" class="form-control" id="inputEmail3">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Descripcion</label>
              <div class="col-sm-9">
                <textarea formControlName="description" rows="10" class="form-control" id="inputPassword3"> </textarea>
              </div>
            </div>

            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-3 col-form-label">Estado</label>
              <div class="col-sm-9">
                <select class="form-control" formControlName="status">
                  <option [ngValue]="item" *ngFor="let item of taskStates" >{{ item }}</option>
                </select>
              </div>
            </div>



            <div class="form-group row py-2">
              <div class="col-sm-12">
                <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-primary px-3" [disabled]="disabledButton" (click)="save()" >Guardar</button>
                <button type="button" class="btn btn-danger px-3" (click)="cancel()">Cancelar</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



