<div class="container pt-5">
  <div class="row pt-5">
    <div class="col-md-12 pt-5">

      <div class="card mb-3 m-auto shadow" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 shadow-img ">
            <img [src]="iconUrl" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Login</h5>
              <p class="card-text"><input id="user" class="form-control" type="text" placeholder="User" aria-label="default input example"></p>
              <p class="card-text"><input id="pass" class="form-control" type="password" placeholder="Password" aria-label="default input example"></p>
              <a href="#" class="btn btn-primary">Acept</a>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


