
  <div class="container main py-2">
    <div class="row">
      <div class="col-md-12 py-4">
        <h1 class="text-center">Sistema de Gestión de Tareas</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 task-list py-1 mb-2">
        <app-status-table></app-status-table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn btn-primary px-5" (click)="addNew()">Nueva</button>
      </div>
    </div>
  </div>
